/*****************************TAG SELECTOR**********************/
body {
    background-color: #94EDEF;
  }
  hr{
    border-style: none;
    border-top-style:dotted;
    border-color: #363062;
    border-width: 5px;
    width:5%;
  }
  h1{
    color: #750550;
  }
    h3 {
    color:#570A57;
  }

  /*************************CLASS SELECTOR*********************/
.insta:hover{
  color:#FF1818;
}
.insta{
  color: #4700D8;
}
